/* :root {
    --yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
   --gray950: hsl(0, 0%, 7%);
}

body{
    background-color:var(--yellow);
      font-family: "Barlow Semi Condensed", sans-serif;
      padding: 5rem 1rem;

}
main{
    display: flex;
    flex-direction: column;
    justify-content:center;
     align-items: center;
     
}

.text-preset1{
font-size: 1.7rem;
line-height: 150%;
letter-spacing: 0;
font-weight: 800;
}
.text-preset2{
font-size: 16px;
line-height: 150%;
letter-spacing: 0;
font-weight: 500;
}

.text-preset4{
font-size: 14px;
line-height: 150%;
letter-spacing: 0;
font-weight: 800;
} */


/* .container{
    background-color:var(--White);
    padding: 1rem;
    border-radius: 1rem;
    filter: drop-shadow(8px 8px);   
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.mainimg {
    border-radius: 1rem;
    width: 100%;
    filter: drop-shadow(0px 4px #d2c7c7); 
}

.learning {
    background-color: var(--yellow);
    padding: 3px 8px;
    margin: 1rem 0 1rem;
    display: inline-block;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1rem;
}
.publish-date {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--gray950);
}
.htmlcss-title:hover{
    color: var(--yellow);

}
.html-desc {
    color: var(--gray500);
}
.nametag {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nametag .greg-name {
    font-weight: bold;
    font-size: 1rem;
}
.nametag img {
    width: 2rem;
    height: 2rem;
}
.learnerdesc {
    margin-top: 4px;
} */


@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }
}